<!DOCTYPE html>
<html>
<head>
    <title>Generate</title>
</head>
<body>
    <h1>{{ result.fullyQualifiedName }}</h1>
    <p>{{ result.description }}</p>

    <h2>Field Descriptions</h2>
    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for field in details %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Images</h2>
    <button id="myButton">Get Text</button>
    <div id="myDiv"></div>
    <script>
        document.getElementById('myButton').addEventListener('click', function() {
            fetch('/generateTableDescription?entry_id={{entry_id}}')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('myDiv').textContent = data;
                });
        });
        </script>
    {% for field in details %}
    <div>
        <h3>{{ field.name }}</h3>
        <img src="{{ field.formula_image_url }}" alt="{{ field.name }} formula">
    </div>
    {% endfor %}
    <h1> Generated text</h1>
    {% for block in generated_description %}
        <p>{{block.text}}</p>
        
    {% endfor %}
    {{generated_description}}
    <h1> Profile </h1>
    {{profile_info}}
</body>
</html>