<!DOCTYPE html>
<html>
<head>
    <title>Metadata Wizard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            font-family: 'Google Sans', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container center-align">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <img src="static/wizard.png" alt="Logo" class="responsive-img circle" style="width: 100px; height: 100px;">
                <h1 style="font-weight: bold;">Metadata Wizard</h1>

                <form action="{{ url_for('home') }}" method="post">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input id="search" name="search" type="search" required>
                        <label for="search">Search Metadata</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Search</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
